@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: poppins;
}
*{
    /* -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;

}
.container{
    background-color: black;
    min-height:80vh;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: wheat;
    padding: 40px;
/*
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    box-shadow: 1px 3px 40px -8px #333; */
}

.toast-notification,.toast-notification-2 {
    background: #000;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    position: fixed;
    bottom: 10px;
    opacity: 0;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s cubic-bezier(0, 1.18, 0.21, 1.03);
    box-shadow: 1px 3px 40px -5px #eee;

  }
  .toast-notification.active, .toast-notification-2.active{
    bottom: 300px;
    opacity: 1;
    pointer-events: none;
  }

/* #right, #left{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed white;
} */

/* .list{
    margin: 20px;
    padding: 20px;
    border: 1px solid #fff;
    color: #fff;
    cursor: grab;
} */