@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: poppins;
}

.container{
    text-align: center;
}
.container a{
    text-decoration: none;
    padding: 5px 18px;
    margin: 10px;
    transition: all 0.5s cubic-bezier(0.84, 0.07, 0.26, 1.4);
}

.container a.active::before{
    content: ' ';
    position: absolute;
    height: 10px;
    top: 20px;
    display: inline-block;
    width: 39px;
    border-color: none;
    border-bottom: 2px solid red;
}

 .container .menu-bg{
    opacity: 0;
    background: black;
    color: red;
    position: absolute;
    z-index: -3;
    transition: all 0.5s cubic-bezier(0.84, 0.07, 0.26, 1.4);
} 